/* BODY */
body h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Anek Devanagari", sans-serif;
}

body {
  background: #0b090a !important;
}

img {
  -drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

hr {
  opacity: 1 !important;
  background-color: #FFD300 !important;
  height: 1px !important;
}

/* SECTIONS */
section {
  padding-top: 100px;
}

/* SECTION - ONE */
.section-one {
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 1%;
}

.hero-section {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.hero-section video {
  width: 98%;
  height: 90%;
  object-fit: cover;
  display: block;
  margin: auto;
  border-radius: 40px;
}

.hero-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: #FFD300;
  padding: 1rem;
}

.hero-section .overlay h1 {
  font-size: 56px;
  margin: 0;
  font-weight: bold;
  text-align: left;
}

.hero-section .overlay h1 span {
  color: #FFD300;
  font-size: 144px;
  line-height: 125px;
}

.hero-section .overlay h2 {
  font-size: 72px;
  font-weight: bold;
  text-align: right;
  line-height: 1em;
}

.hero-section .overlay p {
  font-size: 36px;
  text-align: left;
  margin-top: 1rem;
  line-height: 1.2em;
  margin-right: auto;
  margin-left: 10%;
  color: #FFD300;
}

@media (max-width: 991px) {
  .section-one {
    height: 75vh;
    padding: 0;
  }
  .hero-section {
    height: 75vh;
    margin-top: 2em;
  }
  .hero-section video {height: 100%;}
  .hero-section .overlay h1 {font-size: 26px;}
  .hero-section .overlay h1 span {
    font-size: 44px;
    line-height: 50px;
  }
  .hero-section .overlay h2 {font-size: 36px;}
  .hero-section .overlay p {
    font-size: 18px;
    margin-left: 1%;
    margin-bottom: 0;
  }
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: 0px;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes focus-in-expand {
  0% {
    letter-spacing: 0px;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/* .section-one .hero-button {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
  -webkit-animation: tracking-in-expand 0.4s ease-in-out both;
  animation: tracking-in-expand 0.4s ease-in-out both;
} */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

/* Add animation (fade in and fade out) */

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@media (max-width: 992px) {
  .section-one .row {
    margin-top: 0;
  }

  @-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -5px;
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }

    100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }

  @keyframes focus-in-expand {
    0% {
      letter-spacing: -5px;
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }

    100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }
}

/* SECTION - TWO */
.section-two {
  padding-top: 60px;
  display: flex;
  align-items: center;
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: fit-content;
  gap: 10px;
  margin: auto;
}

.center-cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.grid-layout .card {
  height: 22.5em;
  width: 22.5em;
  /* padding: 1em; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  /* color: #FFD300;
  border: 2.5px solid #FFD300;
  border-radius: 1em; */
  text-align: center;
  background-color: transparent;
}

.grid-layout .card img {
  height: 60%;
  width: 75%;
}

.grid-layout .card p {
  margin: 0;
  font-size: 30px;
  font-weight: 500;
}

.section-two .text p {
  color: #9A9A9A;
  font-size: 30px;
  margin-top: 2em;
  font-weight: 400;
  line-height: 1.25em;
  margin-bottom: 1.75em;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;
}

.card-front,
.card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
  border: 2.5px solid #FFD300;
  border-radius: 1em;
  background-color: #000;
  color: #FFD300;
}

.card-back {
  transform: rotateY(180deg);
  color: #000;
  background: #FFD300;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.section-two .mobile {display: none;}
@media (max-width: 991px) {
  .grid-layout {display: none;}
  .section-two .mobile {
    padding-top: 50px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .section-two .text p {font-size: 18px;}
}
.section-two .mobile .card {
  min-height: 14em;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  color: #FFD300;
  border: 2.5px solid #FFD300;
  border-radius: 1em;
  text-align: center;
  background-color: transparent;
  transition: 0.3s;
}
.section-two .mobile .card img {
  width: 100%;
  height: 7.5em;
  transition: 0.3s;
}
.section-two .mobile .card p {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}
.section-two .mobile .card:hover {
  color: #000;
  background: #FFD300;
}
.section-two .mobile .card:hover img {
  display: none;
}
.section-two .mobile .card .description {
  display: none;
}
.section-two .mobile .card:hover p {
  display: none;
}
.section-two .mobile .card:hover .description {
  display: block;
}


/* SECTION THREE */
.section-three {
  padding-top: 80px;
}
.section-three .title h1, .section-four .title h1 {
  font-size: 60px;
  font-weight: 600;
  line-height: 70px;
  text-align: center;
  margin-bottom: 0.75em;
  color: #FFD300;
}
.section-three .items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
.section-three .item {
  border: 3px solid #FFD300;
  border-radius: 20px;
  padding: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
.section-three .item:hover p {
  scale: 1.25;
  color: #cecece;
}
.section-three .item p {
  color: #9A9A9A;
  font-size: 30px;
  font-weight: 700;
  line-height: 40.62px;
  text-align: center;  
  margin: 0;
  transition: 0.2s;
  padding-block: 10px;
}
.section-three .button, .section-four .button {
  margin-top: 3em;
  margin-bottom: 6em;
  display: flex;
  justify-content: center;
}
.section-three .button a, .section-four .button a {
  font-size: 30px;
  font-weight: 400;
  text-align: center;  
  color: #0B090A;
  background: #FFD300;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.2s;
  padding: 0.6em 7.5em 0.25em 7.5em;
}
.section-three .button a:hover, .section-four .button a:hover {
  scale: 1.075;
  border-radius: 25px;
}
.section-three .mobile {display: none;}
@media (max-width: 991px) {
  .section-three {padding-top: 50px;}
  .section-three .title h1, .section-four .title h1 {font-size: 36px;}
  .section-three .desktop {display: none;}
  .section-three .mobile {display: grid;}
  .section-three .items {grid-template-columns: 1fr;}
  .section-three .item {padding: 2em;}
  .section-three .item p {font-size: 21px; line-height: 40px;}
  .section-three .button a, .section-four .button a {
    padding: 5px; 
    font-size: 18px;
    padding: 10px 50px 5px 50px;
  }
}


/* SECTION - FOUR */
.section-four {
  padding-top: 70px;
}
.section-four .content p {
  font-size: 35px;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
  color: #9A9A9A;
  margin-bottom: 1.5em;
}
@media (max-width: 991px) {
  .section-four {padding-top: 40px;}
  .section-four .content p {
    font-size: 21px;
    line-height: 50px;
  }
}